body {
background-image: url('');
background-color: white;
background-repeat: no-repeat;
background-size:cover;
position: relative;
}

li {
  list-style: none;
}

.container-wrap{
  min-height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}
img {
  size: 5px;
}
.red{
  color: #AB4040;
}
