<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1487300001871-12053913095d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fGNhdHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1>Le chat ronronne <strong>le present</strong>. Le <strong>chat</strong> est toujours dans l'aujourd'hui</h1>
    <p>Find a cat today!!!</p>
    <%= simple_form_for :search, url: offers_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-gradient">
          <i class="fas fa-search"></i> Your city
        </button>
      </div>
    <% end %>
  </div>
</div>
<div class="paw-icon">
    <div class="circle">
      <div class="paw">
        <div class="paw-center"></div>
        <div class="paw-bottom"></div>
        <div class="nikukyu1"></div>
        <div class="nikukyu2"></div>
        <div class="nikukyu3"></div>
        <div class="nikukyu4"></div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="text-center">How it works</h2>
    <div class="cards">

      <div class="card">
        <img src="images/apply.svg" alt="">
        <h4>Apply</h4>
        <p>First apply to one of our campuses around the world.</p>
      </div>

      <div class="card">
        <img src="images/learn.svg" alt="">
        <h4>Learn to code</h4>
        <p>Learn Ruby on Rails, Javascript, SQL &amp; much more!</p>
      </div>

      <div class="card">
        <img src="images/product.svg" alt="">
        <h4>Build products</h4>
        <p>Finally you will be able to bring your ideas to life.</p>
      </div>

    </div>
  </div>
