.footer {
  background-color: #AB4040;
  display: flex;
  position: absolute;
  bottom: -100px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top:15px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: white;
}
.content-wrapper {
  min-height: calc(100vh - 70px - 80px);
}
.cat-icon{
  size: 10px;
  height:10px;
  width:10px;
}
