.reservation {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.reservation .reservation-content {
  flex-grow: 1;
  padding: 0 24px;
}

.reservation p {
  margin: 0;
  line-height: 1.4;
}

.reservation small {
  color: #999999;
  font-weight: bold;
}
.reservation .reservation-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.reservation:hover .reservation-actions {
  opacity: 1;
}

.reservation .reservation-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.reservation .reservation-actions a:hover {
  color: #555555;
}
